@import '~antd/dist/antd.less';

.container {
  display: flex;
  max-height: 100%;
  align-items: center;
  margin: @padding-md;
}

.logo {
  width: 40px;
}

.title {
  flex: 1 1 auto;
  margin: 0;
  text-align: center;
}
