@import '~antd/dist/antd.less';

.arrowContainer {
  display: block;
  height: 100%;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.images {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
}
