@import '~antd/dist/antd.less';

.content {
  padding: @padding-lg 0;
}

.sider {
  &:global(.ant-layout-sider-below) {
    position: absolute;
    z-index: 100;
  }
  :global(.ant-layout-sider-zero-width-trigger) {
    top: 7px;
  }
}
